<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Fructa_Database_Comparation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/WXI</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <userSettings>
    <Fructa_Database_Comparation.Properties.Settings>
      <setting name="headOfficesDataTable" serializeAs="String">
        <value />
      </setting>
      <setting name="backOfficesDataTable" serializeAs="String">
        <value />
      </setting>
      <setting name="cancelScan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="documentsDataTable" serializeAs="String">
        <value />
      </setting>
      <setting name="backOfficesChecked" serializeAs="String">
        <value />
      </setting>
      <setting name="headOfficesChecked" serializeAs="String">
        <value />
      </setting>
      <setting name="documentsChecked" serializeAs="String">
        <value />
      </setting>
      <setting name="threads" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="scheduleChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="schedule" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="serverGroup" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="timeout" serializeAs="String">
        <value>900</value>
      </setting>
    </Fructa_Database_Comparation.Properties.Settings>
  </userSettings>
</configuration>